.wpcf7-acceptance {
    display: inline-block
}
@media (max-width: 575px) {
    .wpcf7-submit {
        width: 100%;
        display: block;
    }
    .wpcf7 .ajax-loader {
        position: absolute;
        bottom: -16px;
    }
}