// Styling for the featured-image
.featured-background {
  background-color: $tertiary;
  @include background-cover;
  @include blur(1px);
  width: 100%;
  height: 100%;
  position: absolute;
  // @include scale(1.04, 1.02);
  z-index: 0;
  // @include blur-performance-fix;
  background-position: center top; 
  @media (max-width: 991px) {
    height: calc(100% - 56px);
  }
}
// Styling for the masthead
.home header {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  position: relative;
  overflow: hidden;
  min-height: 650px;
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    font-weight: 300;
  }
  @media (min-width: 768px) {
    p {
      font-size: 1.15rem;
    }
  }
  @media (max-width: 991px) {
    height: 100%;
    padding-top: 56px;
    padding-bottom: 56px;
  }
  @media (min-width: 992px) {
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
    h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 4rem;
    }
  }
}
