// Styling for the featured-image
.featured-background {
  background-color: $tertiary;
  @include blur(1px);
  width: 100%;
  height: 100%;
  position: absolute;
  // @include scale(1.04, 1.02);
  z-index: 0;
  // @include blur-performance-fix;
  background-position: center top; 
}
.home header {
  position: relative;
  overflow: hidden;
  margin-top: 105px;
  main {
    padding-top: 65px;
    padding-bottom: 68px;
  }
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    font-weight: 300;
  }
  @media (min-width: 768px) {
    height: calc(100vh - 130px);
    min-height: 600px;
    p {
      font-size: 1.15rem;
    }
  }
  @media (min-width: 992px) {
    h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 4rem;
    }
  }
}

/* put toggle bars on the left :: not using button */
#mainNav .navbar-toggler {
  width: 50px;
  height: 50px;
  border: none;
  @include transition(all 0.5s linear);
  &:focus,
  &:hover {
  outline: none;
    .icon-bar {
      background-color: $primary;
    }
  }
}
/* icon bar prettyup - optional */
#mainNav .navbar-toggler > .icon-bar {
  width: 90%;
  display: block;
  height: 1px;
  background-color: $black;
  @include transition(all 1s ease);
}
#mainNav .navbar-toggler.collapsed {
  .icon-bar {
    position: relative;
    &.top-bar {
      transform: rotate(0deg) translateY(-6px);
    }
    &.middle-bar {
      transform: rotate(0deg) translateY(0px);
    }
    &.bottom-bar {
      transform: rotate(0deg) translateY(6px);
    }
  }
  &:focus,
  &:hover {
  outline: none;
    .icon-bar {
      background-color: $tertiary;
    }
  }
}
.icon-bar {
  position: relative;
  background-color: $primary;
  &.top-bar {
    transform: rotate(315deg) translateY(1px);
  }
  &.middle-bar {
    transform: rotate(0deg) translateX(1000px);
  }
  &.bottom-bar {
    transform: rotate(-135deg) translateY(1px);
  }
}