// Styling for the featured-image
.featured-background {
  background-color: $tertiary;
  width: 100%;
  height: 100%;
  position: absolute;
  // @include scale(1.04, 1.02);
  z-index: 0;
  // @include blur-performance-fix;
  background-position: center top; 
}
.home header {
  position: relative;
  overflow: hidden;
  margin-top: 105px;
  main {
    padding-top: 65px;
    padding-bottom: 68px;
  }
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    font-weight: 300;
  }
  @media (min-width: 768px) {
    height: calc(100vh - 130px);
    min-height: 600px;
    p {
      font-size: 1.15rem;
    }
  }
  @media (min-width: 992px) {
    h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 4rem;
    }
  }
}