// Styling for the navbar
#mainNav {
  border-bottom: 4px solid $white;
  background-color: $white;
  @include sans-serif-font;
  @include transition(all 0.5s linear);
  @media (min-width: 992px) {
    &::after {
      content: '';
      border-bottom: 2px solid $tertiary;
      width: 100%;
      position: absolute;
      bottom: -1px;
      left: 0;
    }
  }
  @media (max-width: 991px) {
    &::before {
      content: '';
      border-bottom: 2px solid $tertiary;
      width: 100%;
      position: relative;
      top: 97px;
      left: 0;
    }
  }
  .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: $primary;
    height: 88px;
    @include sans-serif-font;
    &:focus,
    &:hover {
      color: darken($primary, .1);
    }
    img {
      width: auto;
      max-height: 92px;
    }
  }
  .navbar-nav {
    > li.nav-item {
      > a.nav-link,
      a.dropdown-item,
      > a.nav-link:focus,
      a.dropdown-item:focus {
        @media (max-width: 991px) {
          font-size: 1.5rem;
        }
        font-size: .9rem;
        font-weight: 700;
        text-transform: uppercase;
        &:hover {
          color: $primary;
        }
        &:active {
          color: $primary !important;
          background-color: transparent;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  @media (min-width: 992px) {
    .navbar-brand {
      color: fade-out($white, .3);
      &:focus,
      &:hover {
        color: $white;
      }
    }
    .navbar-nav > li.nav-item {
      & > a.nav-link {
        padding: 0.5rem 1rem;
      }
      &:last-child > a.nav-link {
        padding-right: 0;
      }  
    }
  }
}
/* put toggle bars on the left :: not using button */
#mainNav .navbar-toggler {
  width: 23px;
  height: 23px;
  border: none;
  @include transition(all 0.5s linear);
  &:focus,
  &:hover {
  outline: none;
    .icon-bar {
      background-color: $primary;
    }
  }
}
/* icon bar prettyup - optional */
#mainNav .navbar-toggler > .icon-bar {
  width: 100%;
  display: block;
  height: 1px;
  background-color: $black;
  @include transition(all 0.5s ease);
}
#mainNav .navbar-toggler.collapsed {
  .icon-bar {
    position: relative;
    &.top-bar {
      transform: rotate(0deg) translateY(-6px);
    }
    &.middle-bar {
      transform: rotate(0deg) translateY(0px);
    }
    &.bottom-bar {
      transform: rotate(0deg) translateY(6px);
    }
  }
  &:focus,
  &:hover {
  outline: none;
    .icon-bar {
      background-color: $tertiary;
    }
  }
}
.icon-bar {
  position: relative;
  background-color: $primary;
  &.top-bar {
    transform: rotate(315deg) translateY(1px);
  }
  &.middle-bar {
    transform: rotate(0deg) translateX(1000px);
  }
  &.bottom-bar {
    transform: rotate(-135deg) translateY(1px);
  }
}
@media (max-width: 991px) {
  .navbar-collapse {
    &.collapsing,
    &.show {
      .navbar-nav {
        min-height: calc(100vh - 135px);
        height: 100%;
      }
      .dropdown-menu.show {
        margin-top: 0;
        padding-top: 0;
        border: none;
        .dropdown-item {
          padding: .5rem 0;
          text-align: right;
        }
      }
    }
  }
}