// Styling for custom-shortcode-clases
.card {
    @include shadow();
}
.card .row [class^='col'] h2 {
    hyphens: auto;
}
body {
    background-color: fade-out($tertiary, .4);
  }
.text-on-image-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img.featured-image {
    @include darken(50%);
    min-height: 250px;
    object-fit: cover;
    width: 100%;
    max-height: 500px;
}
.gallery img {
    border-radius: .5rem;
}
.row.gallery > div {
    margin-bottom: 30px !important;
}
/* Set width to make card deck cards 100% width */
@media (max-width: 575px) { 
    .card-link+.card-link {
        margin-left: 0;
    }
	.card-deck {
	    display: block;
    }
    .card-link.btn {
        display: block;
    }
}
@media (min-width: 576px) and (max-width: 1023px) {
	.card-deck {
	    display: block;
    }
}
@media (min-width: 1024px) and (max-width: 1199px) {
    .card-link+.card-link {
        margin-left: 0;
    }
    .card-link.btn {
        display: block;
    }
}