// theme default CSS
@import url('../vendor/bootstrap/css/bootstrap.min.css');
@import "_b4st.scss";
// Google Font
@import "_fonts.scss";
// custom CSS
@import "_mixins.scss";
@import "_variables.scss";
@import "_global.scss";
@import "_bootstrap-overrides.scss";
// rte special
body#tinymce {
  padding: 10px !important;
}
.icon-prefix {
  font-size: 1rem;
  font-weight: light;
}