/**!
 * b4st CSS
 */
/* Sticky Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.site-header-image {
  display: block;
  margin: auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  clear: both;
  display: block;
}

/* Max img widths */
img,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

/* Author bio */
.author-bio .avatar {
  border: 1px solid #dee2e6;
  border-radius: 50%;
}

/* Hide form placeholders on focus */
input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

/* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent;
}

/* FF 19+ */
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

/* FF 4-18 */
textarea:focus::-moz-placeholder {
  color: transparent;
}

/* FF 19+ */
/* Comments */
#comments,
#reply-title {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.commentlist,
.commentlist ul {
  padding-left: 0;
}

.commentlist li {
  padding: 1rem;
}

.comment-meta {
  margin-bottom: 1rem;
}

.commentlist .children {
  margin-top: 1rem;
}

/* Site footer */
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v15-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v15-latin-regular.woff") format("woff"), url("../fonts/open-sans-v15-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v15-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* merriweather-regular - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/merriweather-v19-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Merriweather Regular"), local("Merriweather-Regular"), url("../fonts/merriweather-v19-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/merriweather-v19-latin-regular.woff2") format("woff2"), url("../fonts/merriweather-v19-latin-regular.woff") format("woff"), url("../fonts/merriweather-v19-latin-regular.ttf") format("truetype"), url("../fonts/merriweather-v19-latin-regular.svg#Merriweather") format("svg");
  /* Legacy iOS */
}

body,
html {
  width: 100%;
  height: 100%;
  z-index: 1;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #be1522;
}

hr.light {
  border-color: #fff;
}

a {
  color: #be1522;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #be1522;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

.h2, h2 {
  font-size: 1.8rem;
}

.kicker {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  color: #6c757d;
}

.blur {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  -o-filter: blur(1px);
  filter: blur(1px);
}

.unblur {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  -o-filter: blur(0px);
  filter: blur(0px);
}

.blur-darken {
  -webkit-filter: blur(1px) brightness(0.5);
  -moz-filter: blur(1px) brightness(0.5);
  -ms-filter: blur(1px) brightness(0.5);
  -o-filter: blur(1px) brightness(0.5);
  filter: blur(1px) brightness(0.5);
}

.blur-darken-light {
  -webkit-filter: blur(1px) brightness(0.9);
  -moz-filter: blur(1px) brightness(0.9);
  -ms-filter: blur(1px) brightness(0.9);
  -o-filter: blur(1px) brightness(0.9);
  filter: blur(1px) brightness(0.9);
}

.dunkel .darken {
  -webkit-filter: brightness(0.5);
  -moz-filter: brightness(0.5);
  -ms-filter: brightness(0.5);
  -o-filter: brightness(0.5);
  filter: brightness(0.5);
}

.dunkel .darken-light {
  -webkit-filter: brightness(0.9);
  -moz-filter: brightness(0.9);
  -ms-filter: brightness(0.9);
  -o-filter: brightness(0.9);
  filter: brightness(0.9);
}

.bg-primary {
  background-color: #be1522 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

.container.full-width {
  max-width: unset;
  position: relative;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 4px solid #fff;
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#mainNav::after {
  content: '';
  border-bottom: 2px solid #a4c03e;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #be1522;
  height: 88px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #be1522;
}

#mainNav .navbar-brand img {
  width: auto;
  max-height: 92px;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item a.dropdown-item,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
#mainNav .navbar-nav > li.nav-item a.dropdown-item:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item a.dropdown-item,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
  #mainNav .navbar-nav > li.nav-item a.dropdown-item:focus {
    font-size: 1.5rem;
  }
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item a.dropdown-item:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover,
#mainNav .navbar-nav > li.nav-item a.dropdown-item:focus:hover {
  color: #be1522;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:active,
#mainNav .navbar-nav > li.nav-item a.dropdown-item:active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:active,
#mainNav .navbar-nav > li.nav-item a.dropdown-item:focus:active {
  color: #be1522 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:active:hover,
#mainNav .navbar-nav > li.nav-item a.dropdown-item:active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:active:hover,
#mainNav .navbar-nav > li.nav-item a.dropdown-item:focus:active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item:last-child > a.nav-link {
    padding-right: 0;
  }
}

/* put toggle bars on the left :: not using button */
#mainNav .navbar-toggler {
  width: 23px;
  height: 23px;
  border: none;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#mainNav .navbar-toggler:focus, #mainNav .navbar-toggler:hover {
  outline: none;
}

#mainNav .navbar-toggler:focus .icon-bar, #mainNav .navbar-toggler:hover .icon-bar {
  background-color: #be1522;
}

/* icon bar prettyup - optional */
#mainNav .navbar-toggler > .icon-bar {
  width: 100%;
  display: block;
  height: 1px;
  background-color: #000;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#mainNav .navbar-toggler.collapsed .icon-bar {
  position: relative;
}

#mainNav .navbar-toggler.collapsed .icon-bar.top-bar {
  transform: rotate(0deg) translateY(-6px);
}

#mainNav .navbar-toggler.collapsed .icon-bar.middle-bar {
  transform: rotate(0deg) translateY(0px);
}

#mainNav .navbar-toggler.collapsed .icon-bar.bottom-bar {
  transform: rotate(0deg) translateY(6px);
}

#mainNav .navbar-toggler.collapsed:focus, #mainNav .navbar-toggler.collapsed:hover {
  outline: none;
}

#mainNav .navbar-toggler.collapsed:focus .icon-bar, #mainNav .navbar-toggler.collapsed:hover .icon-bar {
  background-color: #a4c03e;
}

.icon-bar {
  position: relative;
  background-color: #be1522;
}

.icon-bar.top-bar {
  transform: rotate(315deg) translateY(1px);
}

.icon-bar.middle-bar {
  transform: rotate(0deg) translateX(1000px);
}

.icon-bar.bottom-bar {
  transform: rotate(-135deg) translateY(1px);
}

@media (max-width: 991px) {
  .navbar-collapse.collapsing .navbar-nav, .navbar-collapse.show .navbar-nav {
    min-height: calc(100vh - 135px);
    height: 100%;
  }
  .navbar-collapse.collapsing .dropdown-menu.show, .navbar-collapse.show .dropdown-menu.show {
    margin-top: 0;
    padding-top: 0;
    border: none;
  }
  .navbar-collapse.collapsing .dropdown-menu.show .dropdown-item, .navbar-collapse.show .dropdown-menu.show .dropdown-item {
    padding: .5rem 0;
    text-align: right;
  }
}

.featured-background {
  background-color: #a4c03e;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background-position: center top;
}

.home header {
  position: relative;
  overflow: hidden;
  margin-top: 105px;
}

.home header main {
  padding-top: 65px;
  padding-bottom: 68px;
}

.home header hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.home header h1 {
  font-size: 2rem;
}

.home header p {
  font-weight: 300;
}

@media (min-width: 768px) {
  .home header {
    height: calc(100vh - 130px);
    min-height: 600px;
  }
  .home header p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  .home header h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .home header h1 {
    font-size: 4rem;
  }
}

#sub-page {
  display: block;
  font-size: 0.0625rem;
  line-height: 1em;
  overflow: hidden;
  text-indent: -1000px;
}

#sub-page h1 {
  margin: 0;
}

#menu-footer a:before {
  content: '| ';
  color: #000;
  cursor: default;
  display: inline-block;
  margin-right: 0.2rem;
}

.icon-prefix {
  font-size: 2.5rem;
  font-weight: light;
}

.card {
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card .row [class^='col'] h2 {
  hyphens: auto;
}

body {
  background-color: rgba(164, 192, 62, 0.6);
}

.text-on-image-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img.featured-image {
  min-height: 250px;
  object-fit: cover;
  width: 100%;
  max-height: 500px;
}

.gallery img {
  border-radius: .25rem;
}

.row.gallery > div {
  margin-bottom: 30px !important;
}

/* Set width to make card deck cards 100% width */
@media (max-width: 575px) {
  .card-link + .card-link {
    margin-left: 0;
  }
  .card-deck {
    display: block;
  }
  .card-link.btn {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 1023px) {
  .card-deck {
    display: block;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .card-link + .card-link {
    margin-left: 0;
  }
  .card-link.btn {
    display: block;
  }
}

.wpcf7-acceptance {
  display: inline-block;
}

@media (max-width: 575px) {
  .wpcf7-submit {
    width: 100%;
    display: block;
  }
  .wpcf7 .ajax-loader {
    position: absolute;
    bottom: -16px;
  }
}

.text-primary {
  color: #be1522 !important;
}

.border-3 {
  border-width: 3px !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border-radius: .25rem;
  padding: 0.75rem 1rem;
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid #be1522;
  color: #be1522;
}

.btn-secondary:hover, .btn-secondary:focus {
  background-color: rgba(190, 21, 34, 0.1) !important;
  color: #be1522;
  border: 1px solid #be1522 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-secondary:active {
  background-color: rgba(190, 21, 34, 0.1) !important;
  color: #be1522;
  border: 1px solid #be1522 !important;
}

.btn-secondary:active:focus {
  background-color: rgba(190, 21, 34, 0.3) !important;
  color: #be1522 !important;
  -webkit-box-shadow: inset 0 2px 4px -1px rgba(0, 0, 0, 0.2), inset 0 4px 5px 0 rgba(0, 0, 0, 0.14), inset 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
  -moz-box-shadow: inset 0 2px 4px -1px rgba(0, 0, 0, 0.2), inset 0 4px 5px 0 rgba(0, 0, 0, 0.14), inset 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
  -ms-box-shadow: inset 0 2px 4px -1px rgba(0, 0, 0, 0.2), inset 0 4px 5px 0 rgba(0, 0, 0, 0.14), inset 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
  -moz-box-shadow: inset 0 2px 4px -1px rgba(0, 0, 0, 0.2), inset 0 4px 5px 0 rgba(0, 0, 0, 0.14), inset 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
  box-shadow: inset 0 2px 4px -1px rgba(0, 0, 0, 0.2), inset 0 4px 5px 0 rgba(0, 0, 0, 0.14), inset 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.btn-primary {
  background-color: #be1522;
  border-color: #be1522;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background-color: #a7121e !important;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn-primary:active {
  background-color: #90101a !important;
  border-color: #90101a !important;
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.btn-primary:active:focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
}

li p.card-text:last-child,
.card-body .row,
ul ul {
  margin-bottom: 1rem;
}
/*# sourceMappingURL=creative.css.map */